.body{
    padding: auto;
    margin: 0%;
}

.cabeçalho{

    background-color: rgb(51, 218, 148);
    margin:5%;
    padding: 10px;
    text-align: center;
}

.informações{

    background-color: khaki;
}
